---
import Layout from '../layouts/Layout.astro';
import Test from '../components/Test.vue';
---

<Layout title="Welcome to Nonogram WebApp">
	<main>
		<h1>
			Test
		</h1>
		<Test />
	</main>
</Layout>

<style>
</style>
