---
import Layout from '../layouts/Layout.astro';
import Nonogram from '../components/Nonogram.vue';
---

<Layout title="Welcome to Nonogram WebApp">
	<main>
		<h1>
			Test
		</h1>
		<Nonogram client:load/>
	</main>
</Layout>

<style>
</style>
